.user {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
  padding: 40px;
  gap: 40px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.user .activity-container {
  flex: 1;
  
}
